.headerRight {
  width: 100px;
}

.logo {
  width: 120px;
  height: 31px;
  color: white;
  margin: 5px 28px 16px 0;
  float: left;
  font-size: 30px;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 64px;
  background: #001529;
}

.cardGrid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  grid-auto-rows: auto;

  grid-gap: 1rem;
}
